In [ ]:
fruits=['pineapple', 'banana', 'Cherry', 'Dragronfruit', 'berry', 'berry']
#print(dir(friuts))
print(len(friuts))
friuts[0]="pineapple";
#friuts.append("berry");
print(friuts)
friuts.pop(2);
friuts.insert(5,"mango");
friuts.remove("banana")
print(friuts);

6
['pineapple', 'banana', 'Cherry', 'Dragronfruit', 'berry', 'berry', 'berry']
['pineapple', 'Dragronfruit', 'berry', 'berry', 'mango', 'berry']

In [11]:
fruits=['pineapple', 'banana', 'Cherry', 'Dragonfruit', 'berry', 'berry']
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

['Cherry', 'Dragonfruit', 'banana', 'berry', 'berry', 'pineapple']
['pineapple', 'berry', 'berry', 'banana', 'Dragonfruit', 'Cherry']

In [10]:
list1=[1,3,2,[4,5]]
print(1 in list1)
print([4,5] in list1)
print(4 in list1[3])

True
True
True

In [17]:
list2=[1,3,2,[4,5,[6,7,8],9]]
print(list2[3])
print(list2[3][2])
print(list2[3][2][1])

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [ ]:
#list comprehension
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [20]:
words=['apple','ball','cat','dog']
uppercased=[word.upper() for word in words]
print(uppercased)

['APPLE', 'BALL', 'CAT', 'DOG']

In [ ]:
fal={'pineapple', 'banana', 'Cherry', 'Dragonfruit', 'berry', 'berry'}
fal.pop()
#fal.remove('banana')
fal.discard("pineapple")
#print(dir(fal))#used methods
print(fal)

{'Dragonfruit', 'berry', 'Cherry'}

In [ ]:
player={'messi','ronaldo','neymar'}
player.remove('messi')
player.discard('messi')#it discard only if item is present 
print(player)

{'neymar', 'ronaldo'}

In [41]:
#Tuples are ordered, unchangable allow duolicates faster
fal=('pineapple', 'banana', 'Cherry', 'Dragonfruit', 'berry', 'berry')
print(dir(fal));
y=('grapes',)
fal+=y
print(fal)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
('pineapple', 'banana', 'Cherry', 'Dragonfruit', 'berry', 'berry', 'grapes')

In [47]:
fal=('pineapple', 'banana', 'Cherry','mango')
# (green,yellow,red)=fal
# print(green)
# print(yellow)
# print(red)
# print(fal)
(red,*black,blue)=fal
print(red,black)

pineapple ['banana', 'Cherry']

In [48]:
t=(3,2,1,(4,5),[9,10],11)
apple=("apple")
list(apple)

['a', 'p', 'p', 'l', 'e']

In [49]:
list=[1,"apple",3.14,True]
tuple=(2,"banana",4.5,False)
set={3,"cherry","c",3.7}
print(list,tuple,set)

[1, 'apple', 3.14, True] (2, 'banana', 4.5, False) {3, 3.7, 'cherry', 'c'}

In [52]:
list=["apple","banana","cheryy"]
for i in  range(len(list)):
    if(list[i]=="apple"):
        print("IS PRESENT")

IS PRESENT

In [53]:
list=["apple","banana","cheryy"]
i=0;
while i<len(list):
    print(list[i])
    i+=1

apple
banana
cheryy

In [62]:
#Dictionary -collection of keys -value pairs-unordered ,mutuable and indexed 
student={
    1:"first",
    "name":"Bishal",
    "course":"BEIT"
}
print(student)
#print(dir(student))
st=dict(name="alice",age=20,city="london")
st['interest']="cricket"

del st['age']
print(st)
if "alice" in st.values():
    print("Name exists")
else:
    print("Not Exists")

{1: 'first', 'name': 'Bishal', 'course': 'BEIT'}
{'name': 'alice', 'city': 'london', 'interest': 'cricket'}
Name exists

In [67]:
st=dict(name="alice",age=20,city="london")
for value in st.values():
    print(value)
for value in st.items():
    print(value)
for value in student:
    print(value)

alice
20
london
('name', 'alice')
('age', 20)
('city', 'london')
1
name
course

In [68]:
square={x:x**2 for x in range(1,6)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}