In [1]:
print("Hello World")

Hello World

In [4]:

print("Hello world \n"*100)

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [6]:
print("2"+"2")

22

In [8]:
print(2.5+4)

6.5

In [12]:
a=10
print(a)
type(a)
name='bishal'
print(name)
type(name)

10
bishal

str

In [16]:
name="Bishal"
age=20
roll=44
print(name,age,roll)
print(f"Name:{name}\nAge:{age}\nRoll:{roll}")

Bishal 20 44
Name:Bishal
Age:20
Roll:44

In [ ]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [22]:
x=2+5j
y=3+2j
print(x+y)
print(x.real)
print(x.imag)
print(x.conjugate())

(5+7j)
2.0
5.0
(2-5j)

In [29]:
a=int(input("ENTER AGE"))
print(a)
type(a)
if a>18:
    print("Eligible")

19
Eligible

In [ ]:
a="BISHAL"
print(a)
print(a[0:2])

BISHAL
A

In [34]:
b="I am learning python"
print(b[::-1])

nohtyp gninrael ma I

In [38]:
text=" Hello python world "
print(text.lower())
print(text.upper())
print(text.strip())
print(text.title())
print(text.replace("python","c++"))
text=text.replace("python","c++")
print(text.split())
print(text.split(" ",-1))
print(text)

 hello python world
 HELLO PYTHON WORLD
Hello python world
 Hello Python World
 Hello c++ world
['Hello', 'c++', 'world']
['', 'Hello', 'c++', 'world', '']
 Hello c++ world